  <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Portfolio Item
                    <small>Item Subheading</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8" style="height:500px;overflow:hidden;"> 
                <div id="carousel-project-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item"  *ngFor="let item of projectImageGallery; let i = index">
                       <img class="img-responsive" style="height:100%;"  [src]="item" alt="Apollo" />
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-project-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-project-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                </div>
            </div>

            <div class="col-md-4">
                <h3>Project Description</h3>
                <p>{{content?.description}}</p>
                <h3>Project Details</h3>
                <ul>
                    <li>Lorem Ipsum</li>
                    <li>Dolor Sit Amet</li>
                    <li>Consectetur</li>
                    <li>Adipiscing Elit</li>
                </ul>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>

           
            <div class="col-md-12" style="overflow:hidden;padding:0;">
                <div class="owl-carousel">
                    <div class="item" *ngFor="let item of projectList; let i = index">
                     <div class="rpl">
                        <a [routerLink]="['/work/' + item?.link]" class="rpl">
                            <img class="img-responsive portfolio-item"  [src]="item?.displayImage" [alt]="item?.title" />
                        </a>
                     </div>
                   
                    </div>
                <!--  Example item end -->
                </div>
            
            </div>
        

        </div>
        <!-- /.row -->
    </div>
     